# credential files
.env
credentials.json
token.json
docker-compose.override.yml

# virtual environment
.venv/
.vscode/

# Downloaded Document Directory
arxiv_papers/

# log files
__pycache__/
logs/
*.pyc
*.log
