services:
  scholarsnap:
    build: .
    container_name: ${CT_NAME}
    env_file:
      - .env
    volumes:
      - .:/app
      - flower_data:/app/flower_data
    restart: always
    depends_on:
      - db
      - redis
    ports:
      - "5555:5555"
    command: supervisord -c supervisord.conf

  db:
    image: postgres:latest
    container_name: ${DB_CT_NAME}
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql

  redis:
    image: redis:latest
    container_name: redis
    restart: always



volumes:
  db_data:
  flower_data:
